body {
  font-family: sans-serif;
  /* background-color: black; */
  background: linear-gradient(#1c1c1c, #242850);
  color: beige;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.graphAndChat {
  display: flex;
  width: 100%;
}

.graphAndChat > div {
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: row;
  width: 100%;
}

.singleMessage {
  display: flex;
}

.singleMessage .messageAuthor {
  bottom: 0;
  width: 1em;
  font-size: 0.5em;
  margin-right: 5em;
}

.singleMessage .messageContent {

}

.singleMessage .messageImage {
  width: 15px;
  height: 15px;
}
